{% extends 'base.html' %}

{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Ivy Quote Genies</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
<p align="justify">
    <h3>WE WORK DIRECTLY WITH MICROCENTER!!!! Our system endeavors to develop a user-friendly business management application with a primary focus on optimizing profits through streamlined and precise sales quoting. This involves the integration of key features such as product catalog management, dynamic pricing adjustments, sales tracking, and accurate quote generation. You can take advantage of all of these features by signing up to become one of our CLIENTS!!
    </h3>
</p>
<br/><br/><br/><br/><br/><br/><br/>
                        
                    </div>
                </center>
            </div>
        </div>

{% endblock %}